/* Dark theme */
@media (prefers-color-scheme: dark) {
	:host {
		--bg: hsl(var(--hue),10%,30%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes rotate {
	from,
	to {
		animation-timing-function: ease-in;
		box-shadow:
			0 0 0 hsl(0,0%,80%),
			0.1rem 0 0 hsl(0,0%,100%),
			-0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
		transform: rotateY(-10deg);
	}
	25%,
	75% {
		animation-timing-function: ease-out;
		box-shadow:
			0 0 0 hsl(0,0%,80%),
			0 0 0 hsl(0,0%,100%),
			-0.25rem -0.05rem 1rem 0.15rem hsla(0,0%,0%,0.3);
		transform: rotateY(0deg);
	}
	50% {
		animation-timing-function: ease-in;
		box-shadow:
			-0.1rem 0 0 hsl(0,0%,80%),
			0 0 0 hsl(0,0%,100%),
			-0.3rem -0.1rem 1.5rem 0.3rem hsla(0,0%,0%,0.3);
		transform: rotateY(10deg);
	}
}
@keyframes texture {
	from,
	to {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(-50%,0,0);
	}
}
@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}
        .navbar{
            background-color: black;
            
            
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }
        .navbar li a:hover{
            color: red
        }
        .search{
            float: right;
            color: white;
            padding: 12px 75px;
        }
        .navbar input{
            border: 2px solid black;
            border-radius: 14px;
            padding: 3px 17px;
            width: 129px;
        }
.backgroundImg{
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(84 83 84 / 30%);
}
.backgroundMapImg{
    width:80%;
    height:80vh;
    background-position: center;
    background-size: contain;
    box-shadow: inset 0 0 0 2000px rgb(84 83 84 / 30%);
}
.textoverlay{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 20%;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: black;
  color: #fefefe;
 
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}




/* //login// */
/* .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
} */

.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

input[type="Submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

}

input[type="Submit"]:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

.HomeAbout{
  width: 100vw;
  height: 25vh;
}






*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

h1 { text-align: center }

ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: stepnr;
}

li:nth-child(6n + 1) { --accent-color: #b8df4e }
li:nth-child(6n + 2) { --accent-color: #4cbccb }
li:nth-child(6n + 3) { --accent-color: #7197d3 }
li:nth-child(6n + 4) { --accent-color: #7197d3 }
li:nth-child(6n + 5) { --accent-color: #b8df4e }
li:nth-child(6n + 6) { --accent-color: #4cbccb }

ol li {
  counter-increment: stepnr;
  width: 18rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * { width: 7.5rem }
ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
ol li .title { font-size: 1rem; font-weight: 500 }
ol li .descr { font-size: 0.8rem; font-weight: 300 }

.credits { margin-top: 2rem; text-align: right }
.credits a { color: var(--color) }




/* card css */
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:host{
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,55%);
	/* font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320)); */
}
  .card-body1 {
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
    background-color: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
    transition: background-color 0.3s;
  }
.card,
.card__chip {
	overflow: hidden;
	position: relative;
}
.card,
.card__chip-texture,
.card__texture {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.card {
	animation-name: rotate;
	background-color: var(--primary);
	background-image:
		radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 29.5%,hsla(0,0%,100%,0) 30%),
		radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 39.5%,hsla(0,0%,100%,0) 40%),
		radial-gradient(circle at 100% 0%,hsla(0,0%,100%,0.08) 49.5%,hsla(0,0%,100%,0) 50%);
	border-radius: 0.5em;
	box-shadow:
		0 0 0 hsl(0,0%,80%),
		0 0 0 hsl(0,0%,100%),
		-0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
	color: hsl(0,0%,100%);
	width: 10.3em;
	height: 6.8em;
	transform: translate3d(0,0,0);
}
.card__info,
.card__chip-texture,
.card__texture {
	position: absolute;
}
.card__chip-texture,
.card__texture {
	animation-name: texture;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
}
.card__info {
	font: 0.75em/1 "DM Sans", sans-serif;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.75rem;
	inset: 0;
}
.card__logo,
.card__number {
	width: 100%;
}
.card__logo {
	font-weight: bold;
	font-style: italic;
}
.card__chip {
	background-image: linear-gradient(hsl(0,0%,70%),hsl(0,0%,80%));
	border-radius: 0.2rem;
	box-shadow: 0 0 0 0.05rem hsla(0,0%,0%,0.5) inset;
	width: 1.25rem;
	height: 1.25rem;
	transform: translate3d(0,0,0);
}
.card__chip-lines {
	width: 100%;
	height: auto;
}
.card__chip-texture {
	background-image: linear-gradient(-80deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.6) 48% 52%,hsla(0,0%,100%,0));
}
.card__type {
	align-self: flex-end;
	margin-left: auto;
}
.card__digit-group,
.card__exp-date,
.card__name {
	background: linear-gradient(hsl(0,0%,100%),hsl(0,0%,85%) 15% 55%,hsl(0,0%,70%) 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Courier Prime", monospace;
	filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
}
.card__number {
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
}
.card__valid-thru,
.card__name {
	text-transform: uppercase;
}
.card__valid-thru,
.card__exp-date {
	margin-bottom: 0.25rem;
	width: 50%;
}
.card__valid-thru {
	font-size: 0.3rem;
	padding-right: 0.25rem;
	text-align: right;
}
.card__exp-date,
.card__name {
	font-size: 0.6rem;
}
.card__exp-date {
	padding-left: 0.25rem;
}
.card__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 6.25rem;
}
.card__vendor,
.card__vendor:before,
.card__vendor:after {
	position: absolute;
}
.card__vendor {
	right: 0.375rem;
	bottom: 0.375rem;
	width: 2.55rem;
	height: 1.5rem;
}
.card__vendor:before,
.card__vendor:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0;
	width: 1.5rem;
	height: 1.5rem;
}
.card__vendor:before {
	background-color: #e71d1a;
	left: 0;
}
.card__vendor:after {
	background-color: #fa5e03;
	box-shadow: -1.05rem 0 0 #f59d1a inset;
	right: 0;
}
.card__vendor-sr {
	clip: rect(1px,1px,1px,1px);
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.card__texture {
	animation-name: texture;
	background-image: linear-gradient(-80deg,hsla(0,0%,100%,0.3) 25%,hsla(0,0%,100%,0) 45%);
}